/* Variables importation */
@import "../../../assets/scss/_variables";

/* Mixin (Media Queries) importation */
@import "../../../assets/scss/_mixin";

/* Modification form style */
.modification-card-container {
  display: block;

  .modification-card {
    margin: auto;
    width: $interface-crud-size;
    background-color: $interface-crud-background-color;

    .modification-card-header {
      display: flex;
      justify-content: flex-start;
      padding: 3vh;
      border-bottom: 1px $tertiary-color solid;
      height: 175px;

      .modification-card-picture {
        flex-basis: 30%;
        height: 100%;
        margin-right: 1.5vw;
        display: flex;

        .user-picture {
          width: 50%;
          margin: auto;
        }
      }

      .modification-card__title {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        padding-left: 2vh;
      }
    }

    .modification-card-body {
      padding: 3vh;

      .modification-card__form {
        width: 100%;
        border-collapse: collapse;
        color: $interface-crud-content-color;
        text-align: left;
        display: flex;

        .modification-card__label,
        .modification-card__data {
          padding: 20px;
        }

        .modification-card__form-labels {
          font-weight: 600;
          width: 30%;

          .modification-card__label {
            display: block;
            color: $tertiary-color;
            width: 30%;
          }
        }

        .modification-card__form-fields {
          .modification-card__data {
            padding-left: 5vh;
          }

          .data-unchangeable {
            cursor: not-allowed;
            border-bottom: 1px $secondary-color solid;
            width: 100%;
          }

          .modification-card__field {
            border: 1px $secondary-color solid;
            border-top: none;
            border-right: none;
            border-left: none;
            width: 100%;
            text-align: left;
          }
        }
      }
    }

    .modification-card__actions.modification-card--border {
      border-top: $interface-crud-actions-border-top;

      .modification-card-button-container {
        display: inline-block;
        width: 100%;
        border: none;
        background: none;
        color: $secondary-color;
        font-family: $button-font-family;
        text-transform: uppercase;
        height: 36px;
        min-width: 64px;
        margin: 0;
        padding: 0 16px;
        line-height: 36px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        overflow: hidden;
        outline: none;
        vertical-align: middle;
        text-align: center;
        transition: $button-transition;
        cursor: $interface-crud-button-cursor;
      }

      .modification-card-button-container:hover {
        color: $primary-color;
        background-color: $secondary-color;
      }
    }

    /* Interface media queries for tablet */
    @include media-max(tablet-down) {
      width: $interface-phone-crud-size;
    }

    /* Interface media queries for phone */
    @include media-max(phone-down) {
      width: $interface-tablet-crud-size;
    }
  }

  .modification-card-shadow {
    box-shadow: $interface-crud-box-shadow;
  }
}
